<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="/resource/css/swagger-ui.css">-->
<!--    <script src="/resource/js/swagger-ui-bundle.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@latest/swagger-ui.css" />
    <script src="https://unpkg.com/swagger-ui-dist@latest/swagger-ui-bundle.js"></script>-->
    <title>Swagger api文档</title>
</head>
<body>
<div id="swagger-ui"></div>
</body>
</html>

<script type="text/javascript">
    window.ui = SwaggerUIBundle({
        url: '/api.json',
        dom_id: '#swagger-ui'
    })
</script>